<div class="w-full py-32 min-h-max">
    <div class="mx-auto max-w-7xl flex flex-col">
        <div class="contact-headings text-2xl items-center text-center py-2">
            <h1 class="text-3xl text-bold text-gray-900"> Contact Us</h1>
            <h6 class="text-lg mx-auto w-8/12 text-center"> We value your feedback, inquiries, and suggestions. Feel free to get in touch with us using the contact information below. We are here to assist you.</h6>
        </div>
        <div class="flex flex-row md:flex-row sm:flex-col justify-between items-center h-full ">
            <div class="py-28 px-12 w-full flex flex-row "> 

                <div class="flex flex-col items-center text-white justify-around  bg-slate-800 w-1/3  m-2 rounded-2xl p-6 shadow-gray-500 drop-shadow-xl" >
                    <div class="icon text-3xl bg-gray-500 rounded-full p-3 w-1/1 shadow-gray-500 drop-shadow-xl">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
                          </svg>                
                    </div>
                    <div class="address p-2 text-center">
                        <label>{{contact.address}}</label>
                    </div>
                </div>

                <div class="flex flex-col items-center text-white  bg-slate-800 w-1/3  m-2 rounded-2xl p-6 shadow-gray-500 drop-shadow-xl" >
                    <div class="icon text-3xl bg-gray-500 rounded-full p-3 w-1/1">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z" />
                          </svg>                                
                    </div>
                    <div class="address p-2 font-light flex text-start">
                        <label class="font-normal text-lg hover:underline cursor-pointer text-white"> {{contact.contact}} </label>
                    </div>
                </div>

                <div class="flex flex-col items-center text-white bg-slate-800 w-1/3 m-2 rounded-2xl p-6 shadow-gray-500 drop-shadow-xl" >
                    <div class="icon text-3xl bg-gray-500 rounded-full p-3 w-1/1">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
                          </svg>
                                                     
                    </div>
                    <div class="address p-2 font-light flex text-start">
                        <label class="font-normal text-lg hover:underline cursor-pointer text-white"> {{contact.email}}</label>
                    </div>
                </div>
                
            </div>


            
        </div>
        <div class="flex flex-col justify-center max-w-6xl mx-auto">
            <div class="w-full mb-5">
                <h5 class="text-lg font-semibold text-gray-700"> Social Media:</h5>
                    <p class="text-gray-600"> 
                        Stay connected with us on social media for the latest updates, news, and promotions. You can find us on instagram by searching for [@yourhandle]. Don't forget to follow and engage with us!
                    </p>
            </div>

            <div class="w-full mb-5">
                <h5 class="text-lg font-semibold text-gray-700"> General Inquiries:</h5>
                    <p class="text-gray-600"> 
                        For general inquiries or questions about our products/services, please reach out to us via email at <span class="underline text-blue-400">{{contact.email}}</span> or call us directly at <span class="underline text-blue-400">{{contact.contact}}</span>. We aim to respond to all inquiries within 24 hours.
                    </p>
            </div>

            <div class="w-full mb-5">
                <h5 class="text-lg font-semibold text-gray-700"> Customer Support:</h5>
                    <p class="text-gray-600"> 
                        If you require assistance with an order, have a product-related question,, please reach out to us via email at <span class="underline text-blue-400">{{contact.email}}</span> or call us directly at <span class="underline text-blue-400">{{contact.contact}}</span>.
                    </p>
            </div>

        </div>
    </div>
</div>