<div class="w-full mt-6 mb-6">
    <div class="mx-auto max-w-7xl">
        <h1 class="text-4xl text-center mb-4 text-opacity-70 text-stone-900 font-bold"> About Us </h1>
        <h2 class="text-xl text-center mb-4"> Welcome to <span class="text-orange-500 loha" >Loha!</span></h2>

        <article> At <span class="text-orange-500 loha" >Loha!</span>, we are passionate about all things culinary. Our mission is to provide aspiring home chefs
            and cooking enthusiasts with the highest quality cookware and kitchen essentials to elevate their culinary
            adventures.
            We started with a simple vision: to equip kitchens with exceptional cookware that combines performance,
            durability, and style. Today, we are proud to be a trusted destination for home cooks and professionals
            alike.
            Customer satisfaction is at the heart of everything we do. We strive to exceed your expectations by offering
            a carefully curated collection of cookware, sourced from renowned brands and manufacturers. Whether you're a
            novice cook or a seasoned chef, our goal is to provide you with the tools you need to create culinary
            masterpieces.
        </article>

        <article>Our team consists of passionate food enthusiasts who are dedicated to ensuring your cooking experience
            is enjoyable and successful. We handpick each product in our catalog, considering factors like
            functionality, quality, and design. Our knowledgeable team is always available to answer your questions and
            provide personalized recommendations.</article>

        <article>
            At <span class="text-orange-500 loha" >Loha!</span>, we understand that every chef has unique preferences and needs. That's why we offer a diverse range
            of cookware options, from non-stick pans to cast iron skillets, stainless steel pots to ceramic bakeware.
            Whatever your culinary style or dietary requirements, we have the perfect cookware to suit your needs.
            We are committed to sustainability and responsible sourcing. We actively seek out eco-friendly cookware
            options that promote healthy cooking and minimize environmental impact. Our goal is to offer you products
            that not only enhance your cooking experience but also align with your values.</article>

        <article>Join our community of passionate cooks and discover a world of culinary possibilities. Explore our
            extensive range of cookware, browse our recipes and cooking tips, and embark on a culinary journey with
            confidence. We offer secure online transactions, fast shipping, and a hassle-free return policy to ensure
            your satisfaction. </article>

        <article> Thank you for choosing <span class="text-orange-500 loha" >Loha!</span>. We are excited to be part of your culinary
            adventures and look forward to serving you with exceptional cookware and kitchen essentials. <span class="font-bold text-base text-orange-600"> Happy cooking! </span></article>
    </div>

    <div class="mx-auto max-w-7xl">
        <h3 class="text-2xl py-5"> After using cast iron cookware seasoning</h3>

        <ul class="list-disc ml-10 leading-5">
            <li>Rinse with water & use a little diluted dishwashing liquid/soap for cleaning.</li>
            <li>Clean gently with a soft sponge/scrub pad.</li>
            <li>Rinse & towel dry.</li>
            <li>Apply a light layer of cooking oil after drying. Recommended to mildly heat the
                cookware before applying oil.</li>
            <li>Wipe off excess oil, if any. Store cookware until next use.</li>
            <li>Before the initial use, a gentle wash is recommended</li>
        </ul>
    </div>

    <div class="mx-auto  max-w-7xl py-5">
        <h4 class="font-semibold text-base text-gray-700 my-8">When using cast iron cookware for the first time, it's
            important to properly
            prepare it to ensure it performs well and lasts a long time. Here are the steps
            to follow:</h4>

        <ul class="list-disc ml-10 leading-5">
            <li>Wash the cookware: Wash the cast iron cookware in hot soapy water to
                remove any dirt, debris or coatings that may have been applied during
                manufacturing.</li>
            <li> Rinse and dry the cookware: Rinse the cookware thoroughly in hot water and
                dry it completely with a clean towel. </li>
            <li> Apply oil: Using a paper towel, apply a thin layer of oil (vegetable oil, canola
                oil or flaxseed oil) to the entire surface of the cookware, including the bottom,
                sides, and handle. </li>
            <li> Heat the cookware: heat the cast iron cookware on a medium flame for 10min. </li>
            <li>Cool and store the cookware: Once the cookware is cool, wipe off any excess
                oil with a paper towel. Store the cookware in a dry place.</li>
        </ul>


    </div>
</div>