<div class="w-full bg-slate-950">
<div class="mx-auto  max-w-7xl flex flex-column justify-between gap-x-1 text-base font-semibold leading-6 text-white px-8  py-6">
    <div class="text-xs text-gray-100 flex items-center">2023 Ecommerce. All rights reserved </div> 
    <div class="social-media-icons gap-2 flex flex-row"> 
       <app-social [textColor]="'text-white'"></app-social>
    </div>
</div>

</div>

