<div class="w-full bg-gray-50">
    <div class="max-w-7xl mx-auto flex flex-col md:flex-col">
        <div class="product-breadcrumb w-full p-2 my-2 mx-4 text-mg text-gray-500">
           <a class="hover:text-gray-900" [routerLink]="['/']" routerLinkActive="router-link-active" >Home</a>  / <a class="hover:text-gray-900" [routerLink]="['/products']" routerLinkActive="router-link-active" >Products</a> / Apple AirPods Pro (2nd generation)
        </div>

        <div class="product-name p-2 mx-3 my-4">
            <h2 class="text-3xl font-bold"> {{product.name}} </h2>
        </div>
        <div class="flex md:flex-row lg:flex-row flex-col">
            <div class="product-breadcrumb flex lg:flex-row md:flex-row flex-col-reverse w-2/4">
                <div class="image-list flex sm:flex-row md:flex-col lg:flex-col">
                    <div class="w-24 m-1 p-1  bg-gray-50 rounded-md"
                        *ngFor="let img of selectedSize.thumbs_images let i = index">
                        <img [src]="img.name" (click)="selectImage(i)"
                            class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-105 duration-300 rounded-lg border-2 border-gray-100 hover:shadow-xl cursor-pointer hover:border-blue-200">
                    </div>
                </div>
                <div class="image-view">
                    <div class="w-full ">
                        <img [src]="selectedImage.name"
                            class="rounded-lg  border-gray-400">
                    </div>
                </div>
            </div>
            <div class="info-view flex flex-col items-start w-full md:w-1/3 md:ml-6">
                <div class="border-gray-500 p-2 my-5">
                    <h4 class="text-2xl font-bold my-2">About</h4>
                    {{product.description}}
                </div>
                <div class="border-gray-500 p-2">
                    <h4 class="text-2xl font-bold my-2">Price</h4>
                    <p>{{skus[selectedSize.sku]}}</p>
                </div>
                <div class="border-gray-500 p-2">
                    <h4 class="text-2xl font-bold my-2">Sizes </h4>
                    <ul class="list-none inline-flex">
                    <li [class]="selectedSize.size == size.size ?' bg-gray-400 text-white cursor-not-allowed': 'text-gray-600 border-gray-500 hover:border-blue-400 hover:cursor-pointer hover:font-semibold' "
                    class="mt-2 ml-2 border py-1 px-2 rounded "
                     *ngFor="let size of product.sizes; let t = index;" (click)="selectSize(t)">
                        {{size.size}}
                    </li>
                </ul>
                </div>
                <div class="border-gray-500 p-2">
                    <h4 class="text-2xl font-bold my-2">Return Policy </h4>
                    <p>You may return or exchange wireless devices and accessories purchased from Verizon Wireless
                        within 30 days of purchase.</p>
                </div>

                <div class="border-gray-500 p-2">
                    <h4 class="text-2xl font-bold my-2">Shipping </h4>
                    <p>You may return or exchange wireless devices and accessories purchased from Verizon Wireless
                        within 30 days of purchase.</p>
                </div>

                <div class="border-gray-500 p-2">
                    <h4 class="text-2xl font-bold my-2">Place an order </h4>
                    <p> We would like to accepts the order from WhatsApp</p>
                    <a href="https://wa.me/+919491388035" target="_blank" class="inline-block mt-4 p-3 bg-green-600 text-white rounded transition ease-in-out delay-150 hover:-translate hover:scale-100 duration-300"> Place order on WhatsApp</a>
                </div>
            </div>
        </div>



        <!-- tabs -->


<div class="mb-4 mt-16 border-b border-gray-200 ">
    <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="myTab"  role="tablist">
        <li class="mr-2" role="presentation">
            <button (click)="showSection = 'overview'" [class]="showSection == 'overview' ? 'border-b-blue-400': 'border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300'" class="inline-block p-4 border-b-2 rounded-t-lg" id="profile-tab"  type="button" role="tab" aria-controls="profile" aria-selected="false">Overview</button>
        </li>
        <li class="mr-2" role="presentation">
            <button (click)="showSection = 'spec'" [class]="showSection == 'spec' ? 'border-b-blue-400': 'border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300'" class="inline-block p-4 border-b-2 " id="dashboard-tab" type="button" role="tab" aria-controls="Specs" aria-selected="false">Specs</button>
        </li>
        <li class="mr-2" role="presentation">
            <button (click)="showSection = 'faq'" [class]="showSection == 'faq' ? 'border-b-blue-400': 'border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300'" class="inline-block p-4 border-b-2 " id="settings-tab"  type="button" role="tab" aria-controls="FAQ" aria-selected="false">FAQ</button>
        </li>
        <li class="mr-2" role="presentation">
            <button (click)="showSection = 'review'" [class]="showSection == 'review' ? 'border-b-blue-400': 'border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300'" class="inline-block p-4 border-b-2 " id="settings-tab"  type="button" role="tab" aria-controls="FAQ" aria-selected="false">Reviews</button>
        </li>
    </ul>
</div>
<div id="myTabContent">
    <div class=" p-4 rounded-lg bg-gray-50 " id="profile" role="tabpanel" aria-labelledby="profile-tab" [style.display]="showSection == 'overview'? 'block' : 'none'">
        <p class="text-sm text-gray-500 dark:text-gray-400">AirPods Pro feature up to 2x more Active Noise Cancellation,¹ plus Adaptive Transparency, and Personalized Spatial Audio with dynamic head tracking for immersive sound.² Now with multiple ear tips (XS, S, M, L) and up to 6 hours of listening time.³

            ¹ As compared to AirPods Pro (1st generation).
            ² Spatial Audio works with movies, TV, and video in supported apps. iPhone with TrueDepth camera required to create personalized profile.
            ³ Battery life varies by use and configuration. See apple.com/batteries for details.
            4 AirPods Pro and charging case are sweat and water-resistant for non-water sports and exercise, and they are IPX4 rated. Sweat and water resistance are not permanent conditions.
            5 Siri may not be available in all languages or in all areas, and features may vary by area. Internet access required. Cellular data charges may apply.
            6 Requires an iCloud account and a compatible Apple device running the latest operating system software.
            7 Works with iPhone 8 or later and iPod touch (7th generation) with the latest version of iOS; and 12.9-inch iPad Pro (2nd generation or later), 11-inch iPad Pro, 10.5-inch iPad Pro, iPad (5th generation or later), iPad Air (3rd generation or later), and iPad mini (5th generation or later) with the latest version of iPadOS.
            8 Find My functionality requires iOS 16 or later; coming late fall 2022 to iPadOS and macOS.</p>
    </div>
    <div class="p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab" [style.display]="showSection == 'spec'? 'block' : 'none'">
        <p class="text-sm text-gray-500 dark:text-gray-400">AirPods Pro feature up to 2x more Active Noise Cancellation,¹ plus Adaptive Transparency, and Personalized Spatial Audio with dynamic head tracking for immersive sound.² Now with multiple ear tips (XS, S, M, L) and up to 6 hours of listening time.³

            ¹ As compared to AirPods Pro (1st generation Specs).
            ² Spatial Audio works with movies, TV, and video in supported apps. iPhone with TrueDepth camera required to create personalized profile.
            ³ Battery life varies by use and configuration. See apple.com/batteries for details.
            4 AirPods Pro and charging case are sweat and water-resistant for non-water sports and exercise, and they are IPX4 rated. Sweat and water resistance are not permanent conditions.
            5 Siri may not be available in all languages or in all areas, and features may vary by area. Internet access required. Cellular data charges may apply.
            6 Requires an iCloud account and a compatible Apple device running the latest operating system software.
            7 Works with iPhone 8 or later and iPod touch (7th generation) with the latest version of iOS; and 12.9-inch iPad Pro (2nd generation or later), 11-inch iPad Pro, 10.5-inch iPad Pro, iPad (5th generation or later), iPad Air (3rd generation or later), and iPad mini (5th generation or later) with the latest version of iPadOS.
            8 Find My functionality requires iOS 16 or later; coming late fall 2022 to iPadOS and macOS.</p>
    </div>
    <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="settings" role="tabpanel" aria-labelledby="settings-tab" [style.display]="showSection == 'faq'? 'block' : 'none'">
        <p class="text-sm text-gray-500 dark:text-gray-400">
            AirPods Pro feature up to 2x more Active Noise Cancellation,¹ plus Adaptive Transparency, and Personalized Spatial Audio with dynamic head tracking for immersive sound.² Now with multiple ear tips (XS, S, M, L) and up to 6 hours of listening time.³

¹ As compared to AirPods Pro (1st generation FAQ ).
² Spatial Audio works with movies, TV, and video in supported apps. iPhone with TrueDepth camera required to create personalized profile.
³ Battery life varies by use and configuration. See apple.com/batteries for details.
4 AirPods Pro and charging case are sweat and water-resistant for non-water sports and exercise, and they are IPX4 rated. Sweat and water resistance are not permanent conditions.
5 Siri may not be available in all languages or in all areas, and features may vary by area. Internet access required. Cellular data charges may apply.
6 Requires an iCloud account and a compatible Apple device running the latest operating system software.
7 Works with iPhone 8 or later and iPod touch (7th generation) with the latest version of iOS; and 12.9-inch iPad Pro (2nd generation or later), 11-inch iPad Pro, 10.5-inch iPad Pro, iPad (5th generation or later), iPad Air (3rd generation or later), and iPad mini (5th generation or later) with the latest version of iPadOS.
8 Find My functionality requires iOS 16 or later; coming late fall 2022 to iPadOS and macOS.
        </p>
    </div>
</div>

    </div>
</div>