<div class="full">
    <div class="mx-auto max-w-7xl ">
        <h1 class="text-4xl text-stone-950 text-opacity-70 text-center my-7"> Frequently Asked Questions</h1>


        <div id="accordion-arrow-icon" data-accordion="open" class="my-8 faq-section">
            <div *ngFor="let item of faqList">
                <h2 id="accordion-arrow-icon-heading-2">
                    <button (click)="item.isOpen = !item.isOpen" type="button"
                        class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-b-0 border-gray-200 hover:bg-gray-100"
                        data-accordion-target="#accordion-arrow-icon-body-2" aria-expanded="false"
                        aria-controls="accordion-arrow-icon-body-2">
                        <span>{{item.question}}</span>
                        <svg data-accordion-icon [class]="item.isOpen? 'rotate-180 icon-animate': 'icon-animate' "
                            class="w-6 h-6 shrink-0" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M15 13l-3 3m0 0l-3-3m3 3V8m0 13a9 9 0 110-18 9 9 0 010 18z"></path>
                        </svg>
                    </button>
                </h2>
                <div id="accordion-arrow-icon-body-1" aria-labelledby="accordion-arrow-icon-heading-1"
                    [class]="item.isOpen ? 'block' : 'hidden' ">
                    <div class="p-5 border border-b-0 border-gray-200">
                        <p class="mb-2 text-gray-500 ">Flowbite is an open-source library of interactive components
                            built on top of Tailwind CSS including buttons, dropdowns, modals, navbars, and more.</p>
                        <p class="text-gray-500 ">Check out this guide to learn how to <a
                                href="/docs/getting-started/introduction/" class="text-blue-600 hover:underline">get
                                started</a> and start developing websites even faster with components on top of Tailwind
                            CSS.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>