<div class="w-full mb-10">

    <div class="w-full bg-blue-50 h-80">
        <div class="max-w-7xl mx-auto flex flex-row items-center align-middle h-80">
            <div class="md:w-1/2 text-3xl w-full"> 
                Product descriptions 
            </div>
            <div class="md:w-1/2 lg:flex md:flex mg:flex-row relative hidden w-full ">
                <div class="w-full inset-0  absolute -top-44">
                   <img src="assets/images/EF5A7072.jpg"
                        alt="Front of men&#039;s Basic Tee in black."
                        class="object-cover w-40 rounded-xl shadow-xl relative left-52 inset-6">
                    <img src="assets/images/EF5A7067a.jpg"
                        alt="Front of men&#039;s Basic Tee in black."
                        class="object-cover w-40 rounded-xl shadow-xl relative left-80 top-1">
                    <img src="assets/images/EF5A7209.jpg"
                        alt="Front of men&#039;s Basic Tee in black."
                        class="object-cover w-40 rounded-xl shadow-xl relative left-24 -top-36">
                </div>
            </div>
        </div>
    </div>

    <div class="max-w-7xl mx-auto flex flex-col md:flex-row lg:flex-row ">
        <div class="md:w-1/5 w-full ">
            Filters
        </div>
        <div class="md:w-4/5 flex flex-row flex-wrap justify-center w-full md:justify-normal">
           <!--  <div class="product w-1/3" *ngFor="let item of [].constructor(30); let i = index"> -->
            <div class="product md:w-3/6 lg:w-1/3 w-full" *ngFor="let item of products">
                <app-card [item]="item" [skus]="skus"></app-card>
            </div> 
        </div>

    </div>
</div>