/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap')
@tailwind base
@tailwind components
@tailwind utilities

$font-family: 'Lato', sans-serif

body , h1, h2, html
    font-family: $font-family

.rounded-complete
    border-radius: 100%

.icon-animate
    @apply transition ease-in-out delay-75 duration-100

.animate
    //@apply hover:cursor-not-allowed 
    @apply transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-105 duration-300
