    <div  routerLinkActive="router-link-active"  class="object-cover rounded-xl bg-gray-50  m-4 shadow-gray-200 shadow-xl animate">  
       <div class="groupp relative">
          <div class=" aspect-h-1 w-full overflow-hidden lg:aspect-none group-hover:opacity-75 group-hover:hidden">
            <img 
            [src]="item.defaultImage"
             alt="Front of men&#039;s Basic Tee in black." 
             class="h-full w-full object-cover lg:h-full lg:w-full rounded-t-xl">
          </div>
          <div class="mt-2 flex justify-between flex-col h-14 p-2 ">
            <div>
              <h3 class="text-sm text-gray-700 font-semibold">
                <a [routerLink]="['details/'+item.id+'/'+item.name]">
                  <span aria-hidden="true" class="absolute inset-0"></span>
                 {{item.name}}
                </a>
              </h3>
              <!-- <p class="mt-1 text-sm text-gray-500">Black</p> -->
            </div>
            <div class="text-sm font-medium text-gray-900">{{skus[item.sku] | currency}}</div>
          </div>
        </div>
    </div>