/*.flower 
  width: 700px
  height: 700px
  // We need a relative position 
  // so that children can have        position:abolute  
  position: relative
  
  .petal 
    // Make sure petals are visible
    border: 1px solid #999
    border-radius: 100%
    text-align: center
    display: flex
    // Text
    .icon 
      width: 100%
    // Position them all in one point
    position: absolute
    top: 10px
    left: 100%
    display: inline-block
    width: 300px
    height: 300px
    
    // Rotation
    transform-origin: bottom left
    @for $n from 0 through 7 
      &:nth-child($n) 
        // Petal rotation
        $angle: (360deg / 6) * $n
        rotate: $angle
        // Icon anti-rotation
        .icon 
             rotate: -$angle 
*///

.parent
    border-radius: 50%

.clock
    position: relative
    min-height: 700px

.clock span
    width: 220px
    height: 220px
    border-radius: 50%
    transform: rotate(calc(var(--n) * 60deg))
    transform-origin: 290px
    margin-left: 80px
    margin-top: 35%
    display: flex
    justify-content: center
    align-items: center
    font-weight: bold


.clock span:hover
    --radius: calc(-20vmin)
    // Animate the rotation
    --r-offset: -1.75turn