<div class="w-full bg-gray-100 p-2">
    <div
        class="mx-auto flex flex-row lg:flex-row sm:flex-col md:flex-col max-w-7xl items-center justify-between p-1 lg:px-2 h-96 ">
        <!--<div class="quote-div grow w-1/2 xs:w-full text-gray-950">
            <h1 class="text-3xl"> Webiste information </h1>
            <h2 class="text-3xl"> Webiste information </h2>
        </div> -->
        <div class="image-slide grow w-full xs:hidden">
            <carousel [height]="340" [cellWidth]="carouselPoperties.cellWidth" [dots]="carouselPoperties.dots"
                [cellsToShow]="carouselPoperties.cellsToShow" [cellsToScroll]="carouselPoperties.cellsToScroll"
                [loop]="carouselPoperties.loop" [autoplay]="carouselPoperties.autoplay"
                [autoplayInterval]="carouselPoperties.autoplayInterval" [pauseOnHover]="carouselPoperties.pauseOnHover">
                <div class="carousel-cell" *ngFor="let image of images">
                    <img [src]="image">
                </div>
            </carousel>
        </div>
    </div>
</div>


<div class="w-full bg-blue-100 m py-4">
    <h3 class=" text-sky-950 text-opacity-70 mx-auto max-w-7xl text-center text-4xl mt-2 mb-6 py-6">What is cast iron cookware</h3>
    <div class="mx-auto h-96 max-w-7xl lg:px-2 p-1 flex flex-col-reverse md:flex-row-reverse lg:flex-row-reverse justify-around my-6">
        <div class="info w-full md:w-1/2 ">
            <article class="text-base mb-3">Cast iron cookware is a type of cookware made from iron that has been melted
                and
                poured into a mold to create the desired shape. Cast iron cookware is known for its
                durability, even heating, and ability to retain heat, making it a popular choice for
                cooking. </article>
            <article class="mb-3 text-base">
                Cast iron cookware can come in a variety of forms, such as skillets, Dutch ovens,
                griddles, and more. It is often used for searing meats, frying foods, baking bread, and
                even cooking stews and soups.</article>

            <article class="mb-3 text-base">One of the benefits of cast iron cookware is that it is versatile and can be
                used on a
                variety of cooking surfaces, including stovetops, ovens, and even over a campfire.
                However, it is important to properly care for cast iron cookware to prevent rust and
                maintain its non-stick properties.</article>
            <article class="mb-3 text-base">To care for cast iron cookware, it is recommended to season the cookware
                before use
                by coating it in oil and baking it in the oven. After use, it should be cleaned with hot
                water and a stiff brush, without soap, to avoid stripping the seasoning. Cast iron
                cookware should also be stored in a dry place to prevent rust.</article>
        </div>
        <div class="info-image w-full md:w-1/3 ">
            <img src="assets/images/EF5A7072.jpg" class="h-96 rounded-3xl shadow-2xl ">
        </div>
    </div>
</div>


<div class="w-full h-auto py-9  bg-gray-100">
    <div class="mx-auto max-w-7xl"> <p class="text-3xl text-opacity-70 text-sky-950"> Available products </p></div>
        <div class="view-all-products mx-auto max-w-7xl justify-end flex"> <a class="underline" [routerLink]="['/products']" routerLinkActive="router-link-active" >View all</a></div>
       <div class="mx-auto max-w-7xl flex flex-col md:flex-row lg:flex-row flex-wrap">
       <!--  <div class="product w-1/3" *ngFor="let item of [].constructor(30); let i = index"> -->
        <div class="product md:w-1/4 lg:w-1/4 w-full" *ngFor="let item of products">
            <app-card [item]="item" [skus]="skus"></app-card>
        </div> 
    </div>
</div>


<div class="w-full bg-white py-3 rounded">

    <h2 class="mx-auto max-w-7xl text-center py-4 text-4xl font-bold  text-sky-950 text-opacity-70"> Advantages of Cast iron cookware </h2>

    <div class="mx-auto h-auto max-w-7xl lg:px-2 p-1 flex flex-col-reverse md:flex-row lg:flex-row justify-center">
        <div class="w-1/2 flex flex-col justify-center  items-start">

            <ul class="list-none text-emerald-950">
                <li class="font-bold text-xl m-2"> Durability:
                    <span class="block text-base font-normal"> Cast iron is extremely durable and can last a lifetime if
                        properly
                        cared for. It can withstand high temperatures and is resistant to scratches,
                        dents, and warping.</span>
                </li>
                <li class="font-bold text-xl m-2"> Non-stick properties:
                    <span class="block text-base font-normal"> Cast iron cookware develops a natural non-stick surface
                        when seasoned properly. This makes it perfect for cooking foods that are
                        prone to sticking, such as eggs and pancakes.</span>
                </li>
                <li class="font-bold text-xl m-2">
                    Versatility:
                    <span class="block text-base font-normal"> Cast iron cookware can be used for a variety of cooking
                        methods,
                        including searing, sautéing, frying, baking, and roasting. It can go from the
                        stovetop to the oven without any problems.</span>
                </li>
                <li class="font-bold text-xl m-2">
                    Heat retention:
                    <span class="block text-base font-normal"> Cast iron cookware retains heat very well and distributes
                        it
                        evenly throughout the pan. This makes it ideal for cooking foods that require
                        even heat distribution, such as stews and roasts</span>
                </li>
                <li class="font-bold text-xl m-2">
                    Nutritional value:
                    <span class="block text-base font-normal"> Cooking with cast iron can actually increase the
                        nutritional
                        value of your food. When cooking acidic foods such as tomatoes or citrus
                        fruits in cast iron, it can release small amounts of iron into the food, which can
                        help to increase your iron intake.</span>
                </li>
                <li class="font-bold text-xl m-2">
                    Cost-effective:
                    <span class="block text-base font-normal"> Cast iron cookware is relatively inexpensive and can last
                        a
                        lifetime, making it a great value for the money.</span>
                </li>
            </ul>
        </div>
        <div class="w-1/2 ">
            <div class="parent motion-safe:animate-spin-slow">
                <div class="clock">
                    <span style="--n:1" class="bg-yellow-200 absolute shadow-2xl ">Durability</span>
                    <span style="--n:2" class="bg-gray-700 text-white absolute shadow-2xl">Non-stick</span>
                    <span style="--n:3" class="absolute bg-blue-300 shadow-2xl">Versatility</span>
                    <span style="--n:4" class="absolute bg-orange-300 shadow-2xl">Heat retention</span>
                    <span style="--n:5" class="absolute bg-green-200 shadow-2xl">Nutritional value</span>
                    <span style="--n:6" class="absolute bg-pink-300 shadow-2xl">Cost-effective</span>
                </div>
            </div>
        </div>
    </div>

    <div class="max-w-7xl text-start mx-auto pb-2">
        <p class="text-stone-900 text-base">
            Overall, cast iron cookware is a versatile, durable, and cost-effective choice
            for home cooks and professional chefs alike. With proper care and seasoning,
            it can provide a non-stick surface, even heat distribution, and increased
            nutritional value for your favorite dishes.
        </p>
    </div>
</div>



<div class="w-full bg-slate-200 py-4">

    <div class="mx-auto max-w-7xl text-center my-5 ">
        <h2 class="font-bold text-3xl py-2 text-sky-950 text-opacity-70">How to use cast iron cookwear</h2>
        <h3 class="text-base">Cast iron cookware can be used for a variety of cooking methods, including
            searing, sautéing, frying, baking, and roasting. Here are some general tips for
            using cast iron cookware
        </h3>
    </div>

    <div
        class="mx-auto h-auto max-w-7xl lg:px-2 p-1 text-center flex flex-col md:flex-row lg:flex-row flex-wrap items-start justify-around">
        <div class="w-96 bg-white shadow-xl rounded-xl my-4 animate">
            <div class="p-2 bg-teal-600 rounded-t-xl text-white h-12 text-xl font-semibold"> Season the cast iron before
                use </div>
            <div class="p-2 m-5 text-start h-40">
                This helps to create a non-stick surface and
                prevent food from sticking to the pan. To season, coat the pan with a thin
                layer of oil and bake it in the oven at a high temperature for an hour or so.
            </div>
        </div>
        <div class="w-96 bg-white shadow-xl rounded-xl my-4 animate">
            <div class="p-2 bg-teal-600 rounded-t-xl text-white h-12 text-xl font-semibold"> Preheat the cast iron
            </div>
            <div class="p-2 m-5 text-start h-40">
                Cast iron cookware takes longer to heat up than other
                types of cookware, so be sure to preheat the pan on low to medium heat for a
                few minutes before adding ingredients.
            </div>
        </div>
        <div class="w-96 bg-white shadow-xl rounded-xl my-4 animate">
            <div class="p-2 bg-teal-600 rounded-t-xl text-white h-12 text-xl font-semibold"> High smoke point oil
            </div>
            <div class="p-2 m-5 text-start h-40">
                When cooking with cast iron, use an oil with a high
                smoke point, such as canola, vegetable, or grapeseed oil. Avoid using butter
                or olive oil as they have a low smoke point and can burn.
            </div>
        </div>
        <div class="w-96 bg-white shadow-xl rounded-xl my-4 animate">
            <div class="p-2 bg-teal-600 rounded-t-xl text-white h-12 text-xl font-semibold"> Don't overcrowd the pan
            </div>
            <div class="p-2 m-5 text-start h-40">
                Cast iron cookware retains heat very well, so be
                careful not to overcrowd the pan as it can lower the temperature and affect the
                cooking process.
            </div>
        </div>
        <div class="w-96 bg-white shadow-xl rounded-xl my-4 animate">
            <div class="p-2 bg-teal-600 rounded-t-xl text-white h-12 text-xl font-semibold"> Heat-resistant utensils
            </div>
            <div class="p-2 m-5 text-start h-40">
                When cooking with cast iron, use heat-resistant
                utensils such as silicone or wooden spoons to avoid scratching the surface.
            </div>
        </div>
        <div class="w-96 bg-white shadow-xl rounded-xl my-4 animate">
            <div class="p-2 bg-teal-600 rounded-t-xl text-white h-12 text-xl font-semibold"> Clean the cast iron
                properly</div>
            <div class="p-2 m-5 text-start h-40">
                After cooking, let the pan cool before cleaning
                with hot water and a stiff brush. Avoid using soap or abrasive cleaners as they
                can damage the seasoning. Dry the pan thoroughly and apply a thin layer of
                oil to prevent rust.
            </div>
        </div>
    </div>

    <!-- <div class="mx-auto h-96 max-w-7xl lg:px-2 p-1  text-center">

        <button class="bg-gray-700 text-white p-4 m-2" (click)="previousQuestion(question.sys_id)"> Previous </button>

        <h2 class="text-2xl">{{question.label}}</h2>
        <div class="options flex flex-row flex-wrap justify-center items-center">
            <div *ngFor="let child of question.childs"
                class=" p-10 bg-blue-300 rounded m-2 h-32 text-center flex items-center cursor-pointer"
                (click)="getQuestion(child.sys_id)"> {{child.label}}</div>
        </div>
    </div> -->
</div>

<!-- <app-card></app-card>-->